# Ignore Python virtual environment folder
whiteboard-env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore system files
.DS_Store

# Ignore your desktop launcher (user specific)
*.desktop

# Ignore editor swap files
*.swp
*.swo

